@import url(bootstrap-responsiveness.css);

body {
    padding-top: 60px;
    padding-bottom: 40px;   
}   

@media (max-width: 768px) {
    .img-responsive{
     width: 300px;
    height:50px;
    padding-left:50px;
    }
    }
    @media (max-width: 376px) {
    .img-responsive{
     width: 220px;
     height:50px;
     padding-left: 20px;
    }
    }
    @media (max-width: 286px) {
    .img-responsive{
     width: 180px;
     height:50px;
     padding-left: 5px;
     }
